/* PAGINA CONTATO */


.containerForm {
   
    width: 100%;
    max-width: 60%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
}


.contact-form {
    
    background-color: #f0f0f0fa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px gray;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b5c7;
    border-radius: 4px;
    outline: none;
}

.imgcontato img {
    height: 100%;
    width: 100%;
}


.containerForm p i {
    margin-right: 10px;
}


.infodanilo {

    margin-bottom: 40px;
}

.text-form {
    background: #254c79;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px black;
    margin-bottom: 20px;
   
}

.btn-primary {
    background-color: #254c79;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 1px 2px black;
}

.btn-primary:hover {
    background-color: #3f82cf;
}


.footer {
    background-color: #0a1625;
    color: white;
    padding: 20px 0;
    margin-top: 60px;
    box-shadow: none;
}

.container {
    max-width: 1200px; /* Ajuste o valor conforme necessário */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin: 0;
    justify-content: flex-end; /* Alinha toda a lista à direita */
}

.linkFormater {
    text-decoration: none;
    color: white;
}

.logo {
    width: 250px; /* Ajusta a largura máxima */
    margin-top: -50px;
}


.div-footer-final{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-footer-final p{
    font-size: 10px;
    margin-top: 2px;
}
