/* CONFIGURAÇOES GERAIS*/

.body{
    margin: 0;
    padding: 0;
    background-color: #ffffff; 

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Padrão */
}

/* CORPO PRINCIPAL */
.containerPrincipal{
    width: 80%;
    background-color: #ffffff; 
    height: 100%;
    margin: 0 auto;
}
/* Media Query para telas maiores que 1080px */
@media screen and (min-width: 1700px) {
    .containerPrincipal {
    width: 60%;
    margin: 0auto;
    }
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1d3d92;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }



@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat-SemiBold.woff");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("/fonts/Inter-Regular.woff");
}

@font-face {
    font-family: "Cinzel-Regular.woff";
    src: url("/fonts/Cinzel-Regular.woff");
}

h1{
    font-size: 30px;
    font-family: "Montserrat-SemiBold";
    color: #082f5f;
}
h2{
    font-size: 19px;
    font-family: "Montserrat-Regular";
    font-weight: 600;
}
h3{
    font-size: 15px;
    font-family: "Montserrat-Regular";
    font-weight: 600;
}
h4{
    font-size: 15px;
    font-family: "Montserrat-Regular";
}
p{
    font-size: 15px;
    font-family: "Inter-Regular";
    font-weight: 500;
    word-spacing: normal;
}





/* FOOTER */
.footer-link{
    width: 100%;
    height: 70px;
    background-color: #16283f;
    margin-top: 60px;
}
.nav {
    display: flex; /* Para usar flexbox */
    gap: 250px;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
    height: 70px;
}

.linkFormater {
    text-decoration: none;
    color:rgb(219, 219, 219);
    font-size: 16px;
}
.linkFormater:hover {
    color: #8a8a8a;
}



.footer {
    background-color: #16283f;
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 1200px; /* Ajuste o valor conforme necessário */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    width: 250px; /* Ajusta a largura máxima */
    margin-top: -50px;
}


.div-footer-final{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-footer-final p{
    font-size: 10px;
    margin-top: 2px;
}




  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #253a75;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
    text-decoration: none;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #3284f1;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }


  /*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
