
/* CONFIGURAÇOES GERAIS*/

.body{
    margin: 0;
    padding: 0;
    background-color: #ffffff; 

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Padrão */
}

/* CORPO PRINCIPAL */
.containerPrincipal{
  width: 80%;
  background-color: #ffffff; 
  height: 100%;
  margin: 0 auto;
}
/* Media Query para telas maiores que 1080px */
@media screen and (min-width: 1700px) {
  .containerPrincipal {
      width: 70%;
      margin: 0auto;
  }
}


@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.woff");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.woff");
}

@font-face {
  font-family: "Cinzel-Regular.woff";
  src: url("/fonts/Cinzel-Regular.woff");
}

h1{
    font-size: 30px;
    font-family: "Montserrat-Regular";
}
h2{
    font-size: 19px;
    font-family: "Montserrat-Regular";
    font-weight: 600;
}
h3{
  font-size: 15px;
  font-family: "Montserrat-Regular";
  font-weight: 600;
}
h4{
  font-size: 15px;
  font-family: "Montserrat-Regular";
}
p{
  font-size: 15px;
  font-family: "Inter-Regular";
  font-weight: 500;
  word-spacing: normal;
}






/* MENU NAVEGAÇÃO*/

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; /* Para garantir que a navbar esteja acima do conteúdo */
  height: 60px;
  
}

.container-fluid{
  width: 80%;
}
/* Media Query para telas maiores que 1080px */
@media screen and (min-width: 1700px) {
  .container-fluid {
      width: 80%;
      margin: 0auto;
  }
}


/* Estilo para o menu suspenso personalizado */
.custom-dropdown-menu {
  background-color: transparent; /* Cor de fundo personalizada */
  border: 1px solid rgba(197, 197, 197, 0.267);
  margin-left: 20px;
}

.custom-dropdown-menu a.dropdown-item {
  color: #cecccc; /* Cor do texto no hover */
  
  font-size: 12px;
  font-family: "Montserrat-Regular";
}

/* Estilo para o efeito de hover */
.custom-dropdown-menu a.dropdown-item:hover {
  background-color: rgba(238, 240, 240, 0.24);
  cursor: pointer;
}

.scrolled {
  background-color: rgb(10, 22, 37); /* Cor de fundo quando rolada */
  transition: background-color 1s ease; /* Adiciona uma transição suave */
}  


.dropdown-scrolled {
  background-color:  rgb(10, 22, 37); /* Cor de fundo quando rolada */
}


.navbar-brand{
  height: 100%;    
  display: block;
  padding: 0px;    
 margin-left: -15px;
}

.nav-link {
  color:  rgb(255, 255, 255);
  padding: 0px;
  margin-left: 10px;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  margin-right: 60px;
  
}

.nav-link:hover {
    color: rgb(157, 158, 158);
    transition: 0.1s;
}

.navbar-toggler {
    color:white;
}









/* BANNER CAPA */
.container-banner-capa{
  width: 100%;
  height: 100%;
}
.container-banner-capa img{
margin: 0 auto;
width: 100%;
}




/* VANTAGENS - DIFERENCIAIS */

.container-diferenciais{
  position: relative;
  z-index: 2; /* Coloca a seção de diferenciais sobre o banner */
  width: 100%;
  height: 400px;
  margin-top: 0px;
}

.titulo-diferenciais {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo-diferenciais h1 {
    margin: 0;
    margin-top: 60px;
    color: #000000;
  }


.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-items: center;
    margin-top: 70px;
  }

  .container-card > div {
    text-align: center;
    background-color: #1b2f49;
    box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.726);
    width: 310px;
    height: 370px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
  }
  .container-card div:hover{
    background-color: #274266;
  }

  .container-card h3{
    color: white;
  }

  .container-card p {
    color: #2e2e2e;
    text-align: center;
    padding: 9px;
    height: 100%;
    width: 310px;
    border-radius: 0px 50px 13px 13px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: white;
    margin-top: 34px;
  }

  .container-card img {
    max-width: 60px;
    margin-bottom: 15px;
  }


/* NOSSAS SOLUCOES*/
.banner-solucoes{
  width: 100%;
  margin-top: 0px;
  z-index: 1;
 box-shadow: 0px 0px 4px gray;
 margin-top: 30px;
}
.banner-solucoes img{
  width: 100%;
  height: 100%;
  
  box-shadow: 0px 0px 4px gray;
}



.container-botao-solucoes{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.botao-solucoes{
border: 1px solid rgb(184, 184, 184);
padding: 10px;
border-radius: 50px;
width: 30%;
text-decoration: none;
}
.botao-solucoes h1{
text-align: center;
margin: 0 auto;
color: rgb(184, 184, 184);
font-weight:normal;
font-size: 22px;
}
.botao-solucoes:hover {
border: 1px solid rgb(37, 37, 37);
transition: 1s;
}
.botao-solucoes:hover h1 {
color: rgb(37, 37, 37); /* Aplica a cor diretamente ao h1 ao passar o mouse sobre o botão */
transition: 1s;
}

.container-texto-soluçoes{
margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-texto-soluçoes p{
font-size: 20px;
color: rgb(97, 97, 97);
font-weight: lighter;
width: 60%;
text-align: center;
}


/* GALERIA */
.container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #080835;
  margin-top: 20px;
  box-shadow: 1px 2px 3px rgb(80, 80, 80);
  width: 100%;
  height: 600px;
  margin: 0 auto;

}

.item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.item a {
  display: block;
}

.item img {
  width: 100%;
  height: auto;
  margin-top: -50px;
  object-fit: cover;
  filter: brightness(70%);
}

.item:hover img {
  transform: scale(1.1);
}

.container-galeria:hover .item img {
  filter: brightness(30%);
  transition: 1.5s;
  transition: 3s;
}

.container-galeria:hover .item:hover img {
  filter: brightness(100%);
}









/* AREA VIDEO */

.container-saibaMais {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin: 0 auto; /* Define margens automáticas no eixo horizontal */
    margin-top: -40px;
}
@media (min-width: 1700px) {
  .container-saibaMais {
    width: 88%;
}
}

.container-saibaMais h2 {
    text-align: left; /* Centraliza o texto horizontalmente */
    margin-bottom: 30px;
    margin-top: 50px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espaço entre as colunas */
    align-items: center; /* Centraliza verticalmente */
}

.video-container {
    width: 150%; /* Ocupa 100% da coluna */
    max-width: 100%;
    overflow: hidden; /* Evita que o vídeo ultrapasse a div */
    box-shadow: 2px 2px 3px gray;
}

video {
    width: 100%; /* Ocupa todo o espaço disponível */
    display: block;
    
}

.tema-video{
    margin-left: 2%;
    margin-top: 10px;
}
@media (min-width: 1700px) {
  .tema-video{
    margin-left: 6.2%;
    margin-top: 10px;
}
}

.text-container {
    padding: 20px;
    text-align: start;
    width: 100%;

}


.banner-final{
 margin-top: 60px;
}

.banner-final img{
    width: 100%;
    height: 100%;
}


.footer-link{
  width: 100%;
  height: 70px;
  background-color: #16283f;
  margin-top: 40px;
}
.nav {
  display: flex; /* Para usar flexbox */
  gap: 250px;
  justify-content: center;
  align-items: center; /* Centralizar verticalmente */
  height: 70px;
}

.linkFormater {
  text-decoration: none;
  color:rgb(219, 219, 219);
  font-size: 16px;
}
.linkFormater:hover {
  color: #8a8a8a;
}




.footer {
    background-color: #16283f;
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 1200px; /* Ajuste o valor conforme necessário */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    width: 250px; /* Ajusta a largura máxima */
    margin-top: -50px;
}


.div-footer-final{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-footer-final p{
    font-size: 10px;
    margin-top: 2px;
}