.body{
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
}

h1{
    font-size: 25px;
}
h2{
    font-size: 18px;
}


/* MENU */
#logoMenu{
    width: 200px;
    height: 100px;
    border: 1px solid red;
}

.NavBarFormater{
    background-color: #0a1625;
    height: 60px;
}

.linkFormater{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  color: white;
}

.linkFormater:hover{
    color: rgb(157, 158, 158);
    transition: 0.1s;
}


/* CORPO PRINCIPAL */
.containerPrincipal{
    width: 90%;
    margin-left: 5%;
    background-color: white;
    height: 100%;
    box-shadow: 1px 2px 4px gray;
}



/* CARROSSEL */
.carrosselFormater{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* VANTAGENS */
.areaVantagens {
    background-color: rgba(240, 237, 237, 0.75);
    width: 80%;
    margin: 0 auto;
    height: 700px;
    position: relative;
    margin-top: -70px;
    border-radius: 10px;
    text-align: left; /* Alinha os outros elementos à direita */
    box-shadow: 0px 2px 5px gray;
}

.areaVantagens h1 {
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin: 0; /* Remove margens padrão para maior precisão */
}

.paragrafoFormater{
    display: block;
}

/* Estilos responsivos */
@media (max-width: 300px) {
    .areaVantagens {
        height: auto; /* Ajusta a altura automaticamente em dispositivos menores */
    }
    
    .areaVantagens h1 {
        position: static; /* Remove o posicionamento absoluto em dispositivos menores */
        text-align: center; /* Centraliza o h1 em dispositivos menores */
        margin-top: 20px; /* Adapta a margem superior */

    }

    .imageQualidade {
        position: static; /* Remove o posicionamento absoluto em dispositivos menores */
        text-align: center; /* Centraliza o h1 e a imagem em dispositivos menores */
        margin-top: 20px; /* Adapta a margem superior para h1 */

    }
}


.reguaLateral{
    background-color: #4E962C;
    width: 5px;
    position: absolute;
    height: 75%;
    top: 140px;
    left: 6%;
    border-radius: 5px;
}

.qualidadeH2 {
    top: 180px;
    left: 20%;
    position: absolute;
    margin: 0; /* Remove margens padrão para maior precisão */
}

.textoQualidade {
    top: 200px;
    left: 20%;
    position: absolute;
    width: 75%;
}


.imageQualidade{
    height: 70px;
    top: 200px;
    left: 10%; /* Posiciona a imagem no lado direito */
    position: absolute;
}

.eficienciaH2 {
    top: 340px;
    left: 20%;
    position: absolute;
    margin: 0; /* Remove margens padrão para maior precisão */
}

.textoEficiencia {
    top: 360px;
    left: 20%;
    position: absolute;
    width: 70%;
}

.imageEficiencia{
    height: 95px;
    top: 350px;
    left: 10%; /* Posiciona a imagem no lado direito */
    position: absolute;
}


.confiabilidadeH2 {
    top: 500px;
    left: 20%;
    position: absolute;
    margin: 0; /* Remove margens padrão para maior precisão */
}

.textoConfiabilidade {
    top: 520px;
    left: 20%;
    position: absolute;
    width: 70%;
}

.imageConfiabilidade{
    height: 95px;
    top: 540px;
    left: 9%; /* Posiciona a imagem no lado direito */
    position: absolute;
}


/* Estilos responsivos */
@media (max-width: 550px) {
    .areaVantagens {
        flex-direction: column; /* Empilhar elementos verticalmente em dispositivos menores */
        align-items: flex-start; /* Alinhar elementos à esquerda em dispositivos menores */
    }

    .imageQualidade {
        display: inline-block; /* Mostra a imagem em dispositivos menores */
        top: 110%; /* Adapta a margem superior */
        left: 40%;
    }
}




/* NOSSAS SOLUCOES*/
.container-solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.solucoesH1 {
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* CARROSSEL PRODUTOS*/

.swiper {
    width: 100%;
    height: 100%;
    top: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }


  /* PRODUTOS */
  .prod-painel-eletrico-img {
    background: url(../imagens/de-forca-5a7da16198b76.png) center;
    height: 300px;
    width: 200px;
    background-position: center;
    margin: auto;
  
  }
  
  .prod-painel-eletrico-desc {
    background-color: #0a1625;
    width: 80%;
    margin: auto;
    
  }
  
  .prod-painel-eletrico-img-2 {
    background: url(../imagens/de-forca-5a7da16198b76.png) center;
    height: 300px;
    width: 200px;
    margin: auto;
  }
  
  .prod-painel-eletrico-desc-2 {
    background-color: #0a1625;
    width: 80%;
    margin: auto;
  }
  


  .prod-painel-eletrico-img-3 {
    background: url(../imagens/de-forca-5a7da16198b76.png) center;
    height: 300px;
    width: 200px;
    margin: auto;

  }
  
  .prod-painel-eletrico-desc-3 {
    background-color: #0a1625;
    width: 80%;
    margin: auto;
  }
  
    .prod-painel-eletrico-desc p,
    .prod-painel-eletrico-desc-2 p,
    .prod-painel-eletrico-desc-3 p {
    margin: 0;
    padding: 10px;
    color: white;
}
  
    .prod-painel-eletrico-desc:hover,
    .prod-painel-eletrico-desc-2:hover,
    .prod-painel-eletrico-desc-3:hover {
    background-color: #83BF00;
    cursor: pointer;
}


/* PARALAX */
.paralax{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    background: rgba(0, 0, 0, 0.1)
    url(../banners/banner_1.png) center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-blend-mode: darken;
    background-position: center;
    box-shadow: 0px 0px 4px gray;
}


.text-paralax{  
        width: 80%;
        margin: 0 auto;
        height: 200px;
        position: relative;
        margin-top: 20px;
        border-radius: 10px;
        text-align: left; /* Alinha os outros elementos à direita */

}

.text-paralax p{  
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin: 0; /* Remove margens padrão para maior precisão */
    width: 90%;

}



/* AREA VIDEO */

.container-saibaMais {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-saibaMais h1 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 50px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espaço entre as colunas */
    align-items: center; /* Centraliza verticalmente */
}

.video-container {
    width: 100%; /* Ocupa 100% da coluna */
    max-width: 100%;
    overflow: hidden; /* Evita que o vídeo ultrapasse a div */
    box-shadow: 2px 2px 3px gray;
}

video {
    width: 100%; /* Ocupa todo o espaço disponível */
    display: block;
    
}

.text-container {
    padding: 20px;
}