/* MENU NAVEGAÇÃO*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16283f;
    height: 60px;
    z-index: 1000;
    
}
  
  .container-fluid{
    width: 80%;
  }
  /* Media Query para telas maiores que 1080px */
  @media screen and (min-width: 1700px) {
    .container-fluid {
        width: 80%;
        margin: 0auto;
    }
  }
  
  
  /* Estilo para o menu suspenso personalizado */
  .custom-dropdown-menu {
    background-color: #07121F; /* Cor de fundo personalizada */
    border: 1px solid rgba(197, 197, 197, 0.267);
    margin-left: 20px;
  }
  
  .custom-dropdown-menu a.dropdown-item {
    color: #cecccc; /* Cor do texto no hover */
    
    font-size: 12px;
    font-family: "Montserrat-Regular";
  }
  
  /* Estilo para o efeito de hover */
  .custom-dropdown-menu a.dropdown-item:hover {
    background-color: rgba(238, 240, 240, 0.24);
    cursor: pointer;
  }
  
  .navbar-brand{
    height: 100%;    
    display: block;
    padding: 0px;    
   margin-left: -15px;
  }
  
  .nav-link {
    color:  rgb(255, 255, 255);
    padding: 0px;
    margin-left: 10px;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    margin-right: 60px;
    
  }
  
  .nav-link:hover {
      color: rgb(157, 158, 158);
      transition: 0.1s;
  }
  
  .navbar-toggler {
      color:white;
  }
  


 /* CORPO DA PAGINA */

.bloco1 {
    padding: 40px;
    margin-top: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco2 {
    padding: 40px;
    margin-top: 80px;
  
}

.containerprodutos {
    margin: auto;
    
}

.titulodesc {
    font-weight: bold;
    padding: 10px;
    text-align: left justify;
    margin: 0px 0 20px 0;
    color: #082f5f;
}

.desccurta p {
    text-align: left;
    padding: 10px;
    margin-bottom: 40px;
    

}


.caracteristicas {
    border-radius: 5px;
    background:  #ebeff5;
    padding: 20px;
    margin-top: 100px;

}

.titulodesc2 {
    font-weight: 600;
    text-align: left;
    padding: 5px;
    margin-top: 10px;
   
}

.bloco3 {
    height: 100%;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    
}

.titulodesc3 {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #082f5f;
    
}

.bloco3 p {
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
}


hr {
    margin: 0;
}

